@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
    overscroll-behavior: none;
    overflow: scroll;
  }
  .min-h-screen {
    min-height: -webkit-fill-available;
    overscroll-behavior: none;
    overflow: scroll;
  }
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 50, 50, 50;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 50, 50, 50;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.fade-in-up {
  animation: fade-in-up 0.75s ease;
}
@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
